extends layout

block style
  style.
    .references {
    padding: 110px 0;
    text-align: center;
    background-color: white;
    position:relative;
    }
    h1, h2 {
    margin: 0;
    }
    h1 {
    font-size: 30px;
    }
    h2 {
    font-weight: normal;
    }
    a {
    color: #cc7e00
    }
    .main{
      padding:0;
    }

block content
  // References
  section.references
    h1 Bio
    h2 Created By Sam Fairs (21929393) and Hei Wong (21862296)
    h3 Sam Fairs
    p Hi, I'm Sam and I'm a 3rd year Computer Science and Data Science Student, studying ay UWA. I'm passionate about technology, gaming and love writing programs. 
      |  Always up for a challenge!
    h3 Hei Wong
    p My name is Hei Wong, student number 21862296. I'm currently in my 3rd of my studies in computer science at UWA. I'm 20 years old and will be 21 in August. 
      |  I have deep interests in computer technologies. 
    br
    h1 References
    label
      strong Resources
    br
    div
      | Accordion/Collapsibles:
      br
      a(target='_blank', href='https://www.w3schools.com/howto/howto_js_accordion.asp')
        | https://www.w3schools.com/howto/howto_js_accordion.asp
    br
    div
      | Button Redirect:
      br
      a(target='_blank', href='https://stackoverflow.com/questions/16562577/how-can-i-make-a-button-redirect-my-page-to-another-page')
        | https://stackoverflow.com/questions/16562577/how-can-i-make-a-button-redirect-my-page-to-another-page
    br
    div
      | Beginner’s Guide To Writing MongoDB/Mongoose Unit Tests Using Mocha/Chai:
      br
      a(target='_blank', href='https://medium.com/nongaap/beginners-guide-to-writing-mongodb-mongoose-unit-tests-using-mocha-chai-ab5bdf3d3b1d ')
        | https://medium.com/nongaap/beginners-guide-to-writing-mongodb-mongoose-unit-tests-using-mocha-chai-ab5bdf3d3b1d 
    br
    div
      | Blur Div Edges:
      br
      a(target='_blank', href='https://stackoverflow.com/questions/15775365/how-to-blur-div-edges') https://stackoverflow.com/questions/15775365/how-to-blur-div-edges
    br
    div
      | Centering:
      br
      a(target='_blank', href='https://www.w3.org/Style/Examples/007/center.en.html') https://www.w3.org/Style/Examples/007/center.en.html
    br
    div
      | CSS Button Styling:
      br
      a(target='_blank', href='https://www.w3schools.com/css/css3_buttons.asp') https://www.w3schools.com/css/css3_buttons.asp
    br
    div
      | Default Value of HTML Date Element:
      br
      a(target='_blank', href='https://stackoverflow.com/questions/14212527/how-to-set-default-value-to-the-inputtype-date/38801898')
        | https://stackoverflow.com/questions/14212527/how-to-set-default-value-to-the-inputtype-date/38801898
    br
    div
      | Default Value of HTML Select Element:
      br
      a(target='_blank', href='https://stackoverflow.com/questions/3518002/how-can-i-set-the-default-value-for-an-html-select-element')
        | https://stackoverflow.com/questions/3518002/how-can-i-set-the-default-value-for-an-html-select-element
    br
    div
      | Dynamic Color Changing:
      br
      a(target='_blank', href='https://stackoverflow.com/questions/1625681/dynamically-change-color-to-lighter-or-darker-by-percentage-css-javascript')
        | https://stackoverflow.com/questions/1625681/dynamically-change-color-to-lighter-or-darker-by-percentage-css-javascript
    br
    div
      | Email Address Regular Expression:
      br
      a(target='_blank', href='http://stackoverflow.com/questions/201323/using-a-regular-expression-to-validate-an-email-address')
        | http://stackoverflow.com/questions/201323/using-a-regular-expression-to-validate-an-email-address
    br
    div
      | Flexbox:
      br
      a(target='_blank', href='https://css-tricks.com/snippets/css/a-guide-to-flexbox/') https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    br
    div
      | HTML Head:
      br
      a(target='_blank', href='https://www.w3schools.com/html/html_head.asp') https://www.w3schools.com/html/html_head.asp
    br
    div
      | Input Types:
      br
      a(target='_blank', href='https://www.w3schools.com/tags/att_input_type.asp') https://www.w3schools.com/tags/att_input_type.asp
    br
    div
      | Javascript Changing CSS
      br
      a(target='_blank', href='https://www.w3schools.com/js/js_htmldom_css.asp') https://www.w3schools.com/js/js_htmldom_css.asp
    br
    div
      | Javascript Form Validation:
      br
      a(target='_blank', href='https://www.w3schools.com/js/js_validation.asp') https://www.w3schools.com/js/js_validation.asp
    br
    div
      | Matching Tags in MongoDB:
      br
      a(target='_blank', href='https://stackoverflow.com/questions/27326748/mongodb-find-documents-that-match-the-most-tags') 
        | https://stackoverflow.com/questions/27326748/mongodb-find-documents-that-match-the-most-tags
    br
    div
      | Navbar:
      br
      a(target='_blank', href='http://sixrevisions.com/css/fixed-navigation-bar/') http://sixrevisions.com/css/fixed-navigation-bar/
    br
    div
      | Poppins Google Font:
      br
      a(target='_blank', href='https://fonts.google.com/specimen/Poppins') https://fonts.google.com/specimen/Poppins
    br
    div
      | Textare Tag:
      br
      a(target='_blank', href='https://www.w3schools.com/tags/tag_textarea.asp') https://www.w3schools.com/tags/tag_textarea.asp
    br
    div
      | Timeout:
      br
      a(target='_blank', href='https://stackoverflow.com/questions/14226803/wait-5-seconds-before-executing-next-line') 
        | https://stackoverflow.com/questions/14226803/wait-5-seconds-before-executing-next-line
    br
    br
    label
      strong Javascript Libraries
    div
      div
        | Moment.js
        br
        a(target='_blank', href='https://momentjs.com/') https://momentjs.com/
    br
    br
    label
      strong Stock Images
    div
      div
        | Body Background
        br
        a(target='_blank', href='https://www.pexels.com/photo/working-in-a-group-6224/') https://www.pexels.com/photo/working-in-a-group-6224/
      br
      div
        | Call To Action Background
        br
        a(target='_blank', href='https://www.pexels.com/photo/colleagues-cooperation-fist-bump-fists-398532/') https://www.pexels.com/photo/colleagues-cooperation-fist-bump-fists-398532/
