extends layout

block style
  style.
    .form-container {
    width: 50%;
    min-width: 800px;
    }
    label {
    display: block;
    }

block content
  // New User Form
  form.form-container(action='/register', onsubmit='return formApply()', method = 'post')
    h1(style='text-align: center') NEW USER
    .container
      .input(style='padding-right: 10px')
        label(for='fname')
          strong
            | First Name
            span *
        input#fname(type='text', placeholder='Enter First Name',name = "fname", required='')
        small.formError -
      .input(style='float: right; padding-left: 10px')
        label(for='lname')
          strong
            | Last Name
            span *
        input#lname(type='text', placeholder='Enter Last Name',name = "lname", required='')
        small.formError -
      .input(style='padding-right: 10px')
        label(for='uname')
          strong
            | Username
            span *
        input#uname(type='text', placeholder='Enter Desired Username',name = "uname", required='')
        small.formError -
      .input(style='float: right; padding-left: 10px')
        label(for='email')
          strong
            | Email
            span *
        input#email(type='text', placeholder='Enter Email',name = "email", required='')
        small#emailError.formError Please Enter a Valid Email Address
      .input(style='padding-right: 10px')
        label(for='password')
          strong
            | Password
            span *
        input#password(type='password', placeholder='Enter Password',name = "password", required='')
        small.formError -
      .input(style='float: right; padding-left: 10px')
        label(for='confirmPassword')
          strong
            | Confirm Password
            span *
        input#confirmPassword(type='password', placeholder='Confirm Password',name = "confirmPassword", required='')
        small#confirmPasswordError.formError Your Passwords Don&apos;t Match
      .input(style='padding-right: 10px;')
        label(for='contactNum')
          strong
            | Contact Number
            span *
        input#contactNum(type='text', placeholder='Enter Contact Number (1122334455)',name = "contactNum", required='')
        small#contactNumError.formError Please Enter a Valid 10 Digit Phone Number
      .btncontainer
        button(type='submit') Next Step
        button#cancel.cnclBtn(type='button') Cancel

block scripts
  script(src='/javascripts/formValidation.js')
  script.
    document.getElementById("cancel").onclick = function () {
    location.href = "/"
    }
