[Desktop Entry]
Encoding=UTF-8
Name=Link to eligrey/FileSaver.js: An HTML5 saveAs() FileSaver implementation
Type=Link
URL=https://github.com/eligrey/FileSaver.js/
Icon=text-html
Name[en_AU]=File Saver Git
