doctype html
html
  head
    // Title of Page
    title Exam Question Database
    // Meta Tags
    meta(charset='UTF-8')
    meta(name='description', content='Find existing exam questions easily')
    meta(name='author', content='Sam Fairs, Chen Liu, Joshua Milambo, Lachlan Bunney, Michael Bleakley, Raymond Luk')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Physics, Exam, Question, Database, Latex')
    // Links/References
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,400i,700', rel='stylesheet')
  // Body of Page
  body
    // Navbar
    nav.navbar
      .navTitle
        a(href='/index') Exam Question Database
        form.navSearch(action='/result')
          input#navSearch(type='text', placeholder="Light, Electricity, Gauss's Law", name='navSearch')
          button(type='navSubmit')
            img(width='40px', height='40px', src='images/search_icon.png')
      ul.navMenu
        li
          a(href='/') Logout
        li
          a(href='/upload') Upload Question
        li
          a(href='/test') View Test
        li
          a(href='/testhistory') Update Result
    .main
      #results.formContainer
        h1 QUESTION HISTORY
        .result.one.header
          .split
            h2 INSTITUTION
          .split
            h2 UNIT
          .split
            h2 ASSESSMENT
          .split
            h2 DATE
          .split
            h2 CORRECT
        .result.two
          .split
            p UWA
          .split
            p PHYS1001
          .split
            p Test 1
          .split
            p 03/03/2019
          .split
            p 347/700
        .result.one
          .split
            p UWA
          .split
            p PHYS1001
          .split
            p Exam
          .split
            p 01/06/2018
          .split
            p 450/640
        .result.two
          .split
            p UWA
          .split
            p PHYS1001
          .split
            p Test 2
          .split
            p 20/05/2017
          .split
            p 200/570
    // Footer
    footer.footer
      p Example filler text for the footer of the page.
