doctype html
html
  head
    // Title of Page
    title Exam Question Database
    // Meta Tags
    meta(charset='UTF-8')
    meta(name='description', content='Find existing exam questions easily')
    meta(name='author', content='Sam Fairs, Chen Liu, Joshua Milambo, Lachlan Bunney, Michael Bleakley, Minrui Lu')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Physics, Exam, Question, Database, Latex')
    // Links/References
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,400i,700', rel='stylesheet')
  // Body of Page
  body
    // Navbar
    nav.navbar
      .navTitle
        a(href='/index') Exam Question Database
        form.navSearch(method='get', action='result', enctype='multipart/form-data')
          input#navSearch(type='text', placeholder="Light, Electricity, Gauss's Law", name='keywords')
          button(type='navSubmit')
            img(width='40px', height='40px', src='images/search_icon.png')
      ul.navMenu
          li
            a(href='/') Logout
          li
            a(href='/upload') Upload Question
          li
            a(href='/test') View Test
          li
            a(href='/testhistory') Update Result
          -if(ifmaster)
            li
              a(href='/adduser') Add User 
    .main
      #results.formContainer
        h1 RESULTS
        .result.one.header
          .split2
            h2 Brief Description
          .split
            h2 YEAR UPLOADED
          .split
            h2 Preview
          .split
            h2 History
        // ITERATION BEGINS
        -i = 0;
        -len = results.length;
        while i < len
          if(i % 2 == 0)
            .result.two
              .split2
                p #{results[i][1]}
              .split
                p #{results[i][2]}
              .split
                a(href='/question?q=' + results[i][0])
                  p View
              .split
                a(href='/history?q=' + results[i][0])
                  p History
          else
            .result.one
              .split2
                p #{results[i][1]}
              .split
                p #{results[i][2]}
              .split
                a(href='/question?q=' + results[i][0])
                  p View
              .split
                a(href='/history?q=' + results[i][0])
                  p History
          -i = i + 1;
    // Footer
    footer.footer
      p Content on this website is licensed under a CC: Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) License.
