  doctype html
html
  head
    // Title of Page
    title Exam Question Database
    // Meta Tags
    meta(charset='UTF-8')
    meta(name='description', content='Find existing exam questions easily')
    meta(name='author', content='Sam Fairs, Chen Liu, Joshua Milambo, Lachlan Bunney, Michael Bleakley, Raymond Luk')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Physics, Exam, Question, Database, Latex')
    // Links/References
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,400i,700', rel='stylesheet')
  // Body of Page
  body
    // Navbar
    nav.navbar
      .navTitle
        a(href='/index') Exam Question Database
        form.navSearch(action='/results')
          input#navSearch(type='text', placeholder="Light, Electricity, Gauss's Law", name='navSearch')
          button(type='navSubmit')
            img(width='40px', height='40px', src='images/search_icon.png')
      ul.navMenu
        li
          a(href='/') Logout
        li
          a(href='/upload') Upload Question
        li
          a(href='/test') View Test
        li
          a(href='/testhistory') Update Result
    .main
      
        h1 Update Result
        .result.one.header
          .split6
            h3 #
          .split2
            h3 Brief Description
          .split
            h3 Preview
          .split3
            h3 Use Notes
          .split5
            h3 Correct
          .split5
            h3 Total
        .result.two
          .split6
            h2 1
          .split2
            h2 Electromagnetic force on charge
          .split
            h2 Preview
          .split3
            input(type='text', value='')
          .split5
            input(type='text', value='')
          .split5
            input(type='text', value='')
        .result.one
          .split6
            h2 2
          .split2
            h2 Friction ball rolling down hill
          .split
            h2 Preview
          .split3
            input(type='text', value='')
          .split5
            input(type='text', value='')
          .split5
            input(type='text', value='')
        .result.two
          .split6
            h2 3
          .split2
            h2 B field of wire
          .split
             Preview
          .split3
            input(type='text', value='')
          .split5
            input(type='text', value='')
          .split5
            input(type='text', value='')
        .result.one.header
          button(type='submit', class='download', onclick='/') Update
    // Footer
    footer.footer
      p Example filler text for the footer of the page.
