doctype html
html
  head

    script.
      i =1;

      function changepaper(selectvalue,formparent) {
        if(selectvalue.value == "newpaper"){
          formparent.elements[1].style.display = "none";
          formparent.elements[3].style.display = "";
        }
        else if(selectvalue.value == 'oldpaper'){
          formparent.elements[3].style.display = "none";
          formparent.elements[1].style.display = "";
        }
      }


    // Title of Page
    title Exam Question Database
    // Meta Tags
    meta(charset="UTF-8")
    |         
    meta(name="description", content="Find existing exam questions easily")
    |         
    meta(name="author", content="Sam Fairs, Chen Liu, Joshua Milambo, Lachlan Bunney, Michael Bleakley, Raymond Luk")
    |         
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    |         
    meta(name="keywords", content="Physics, Exam, Question, Database, Latex")
    // Links/References
    link(rel="stylesheet", href="/stylesheets/style.css")
    |         
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700", rel="stylesheet")
  // Navbar
  nav.navbar
    .navTitle
      a(href="/index") Exam Question Database
      |             
      form.navSearch(method='get', action='result', enctype='multipart/form-data')
        input#navSearch(type="text", placeholder="Light, Electricity, Gauss's Law", name="keywords")
        |                 
        button(type="navSubmit")
          img(width="40px", height="40px", src="images/search_icon.png")
    |         
    ul.navMenu
        li
          a(href='/') Logout
        li
          a(href='/upload') Upload Question
        li
          a(href='/test') View Test
        li
          a(href='/testhistory') Update Result
        -if(ifmaster)
          li
            a(href='/adduser') Add User 
  |   
  body
    // Body of Page
    .main
      p
        a(href="/upload") Upload Question
        |  → 
        b Question History
        |  → Submitted
      |                 
      form(id='history', action='insertHistory?formno=' + parseInt(formno) + '&qid=' + qid, enctype='multipart/form-data', method='post')
        - var formn = 1;
        while formn <= formno 
          fieldset(id = "paper" + formn, style='border:none', name='paper.' + formn)
            .result.two.header
              .split4
                h2 Paper # #{formn}
              .split4
                h2
                  select(id='oldnew', onchange="changepaper(this,this.parentNode.parentNode.parentNode.parentNode)",name='oldnew.'+formn)
                    option(value='oldpaper') Past
                    option(value='newpaper', selected='True') New
            fieldset#oldpapers(style='display:none; border:none',name='oldpapers.'+formn)
              .result.one.header
                .split4
                  h2 Select
                .split4
                  h2
                    select(onchange='selectPaper(this)', name='selectoldpap.'+formn)
                      each paper in papers
                        option(value = paper[0])= paper[1]
            fieldset#paperinfo(style='border:none', name='paperinfo.'+formn)
              .result.one.header
                .split4
                  h2 Institution
                .split4
                  h2
                    input(type='text', id='Institution'+ formn,name='institution.'+formn)
              .result.one.header
                .split4
                  h2 Unit
                .split4
                  h2
                    input(type='text', id='Unit'+ formn, name='unit.'+formn)
              .result.one.header
                .split4
                  h2 Assessment
                .split4
                  h2
                    input(type='text', id='Assessment'+ formn, name='assessment.'+formn)
              .result.one.header
                .split4
                  h2 Date
                .split4
                  h2
                    input(type='text', id='Date'+ formn, name='date.'+formn)
            - formn++;
                  
        h2
          a(href='/uploadhistory?formno=' + (parseInt(formno)+1))
            button(id = 'add', value=parseInt(formno)+1,name="formno", type="button") Add Paper 
          if(formno > 1) 
            a(href='/uploadhistory?formno=' + (parseInt(formno)-1))
              button(id = 'add', value=parseInt(formno)-1,name="formno", type="button") Remove Last Paper

          button(id = 'submit', type="submit", value="Submit") Submit
        |   
        |           
        
      |         
      p
        a(href="/upload") Upload Question
        |  → 
        b Question History
        |  → Submitted
  // Footer
  footer.footer
    p Content on this website is licensed under a CC: Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) License.s
