doctype html
html
  head
    // Title of Page
    title Exam Question Database
    // Meta Tags
    meta(charset='UTF-8')
    meta(name='description', content='Find existing exam questions easily')
    meta(name='author', content='Sam Fairs, Chen Liu, Joshua Milambo, Lachlan Bunney, Michael Bleakley, Raymond Luk')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Physics, Exam, Question, Database, Latex')
    // Links/References
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,400i,700', rel='stylesheet')
  // Navbar
  body
    nav.navbar
      .navTitle
        a(href='/') Exam Question Database
        form.navSearch(action='/result')
          input#navSearch(type='text', placeholder="Light, Electricity, Gauss's Law", name='navSearch')
          button(type='navSubmit')
            img(width='40px', height='40px', src='Images/search_icon.png')
      ul.navMenu
        li
          a(href='login') Login
        li
          a(href='/upload') Upload Question
        li
          a(href='/test') View Test
    // Body of Page
    .main
      p
        b Upload Question
        |  → To Upload History → Submit
      #results.formContainer
        h1 Upload A Question
        .result.one.header
          .split4.left
            h2 UPLOAD QUESTION .ZIP
          .split4.right
            h2
              input(type='button', value='Upload Compressed Question Data', onclick='')
        .result.one.header
          .split4.left
            h2 UPLOAD QUESTION PREVIEW
          .split4.right
            h2
              input(type='button', value='Upload Compiled Question', onclick='')
        .result.one.header
          .split4.left
            h2 Notes:
          .split4.right
            h2
              input(type='text', value='')
        .result.one.header
          .split4.left
            h2 BRIEF DESCRIPTION
          .split4.right
            h2
              input(type='text', value='')
        .result.one.header
          .split4.left
            h2 KEYWORDS
          .split4.right
            h2
              input(type='text', value='')
        .result.one.header
          .split4.left
            h2 QUESTION TYPE
          .split4.right
            h2
              select
                option(value='Exam') Exam
                option(value='Test') Test
                option(value='Assignent') Assignment
        h2
          input(type='button', value='→ To Upload History', onclick='')
      p
        b Upload Question
        |  → To Upload History → Submit
    // Footer
    footer.footer
      p Example filler text for the footer of the page.
