doctype html
html
  head

    script.
      i =1;

      function changepaper(selectvalue,formparent) {
        if(selectvalue.value == "newpaper"){
          formparent.elements[1].style.display = "none";
          formparent.elements[3].style.display = "";
        }
        else if(selectvalue.value == 'oldpaper'){
          formparent.elements[3].style.display = "none";
          formparent.elements[1].style.display = "";
        }
      }

      function addHistory() {
        i++;
        document.getElementById('paper'+i).style.display='';
      }

      function removeLastHistory(){
        document.getElementById('paper'+i).style.display='none';
        i--;
       }

    // Title of Page
    title Exam Question Database
    // Meta Tags
    meta(charset="UTF-8")
    |         
    meta(name="description", content="Find existing exam questions easily")
    |         
    meta(name="author", content="Sam Fairs, Chen Liu, Joshua Milambo, Lachlan Bunney, Michael Bleakley, Raymond Luk")
    |         
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    |         
    meta(name="keywords", content="Physics, Exam, Question, Database, Latex")
    // Links/References
    link(rel="stylesheet", href="/stylesheets/style.css")
    |         
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700", rel="stylesheet")
  // Navbar
  nav.navbar
    .navTitle
      a(href="/index") Exam Question Database
      |             
      form.navSearch(method='get', action='result', enctype='multipart/form-data')
        input#navSearch(type="text", placeholder="Light, Electricity, Gauss's Law", name="keywords")
        |                 
        button(type="navSubmit")
          img(width="40px", height="40px", src="images/search_icon.png")
    |         
    ul.navMenu
      li
        a(href="/") Login
      |             
      li
        a(href="/upload") Upload Question
      |             
      li
        a(href="/test") View Test
  |   
  body
    // Body of Page
    .main
      p
        a(href="/upload") Upload Question
        |  → 
        b Question History
        |  → Submitted
      |                 
      form#history(method='post',enctype='multipart/form-data')
        
        - var form = 1;
        while form <= formno
          
          fieldset(id = "paper" + form, style='border:none', name='paper' + form)
            .result.two.header
              .split4
                h2 Paper # #{form}
              .split4
                h2
                  select(id='oldnew', onchange="changepaper(this,this.parentNode.parentNode.parentNode.parentNode)",name='oldnew'+form)
                    option(value='oldpaper') Past
                    option(value='newpaper', selected='True') New
            fieldset#oldpapers(style='display:none; border:none',name='oldpapers'+form)
              .result.one.header
                .split4
                  h2 Select
                .split4
                  h2
                    select(onchange='selectPaper(this)', name='selectoldpap'+form)
                      each paper in papers
                        option(value = paper) = paper
            fieldset#paperinfo(style='border:none', name='paperinfo'+form)
              .result.one.header
                .split4
                  h2 Institution
                .split4
                  h2
                    input(type='text', id='Institution'+ form,name='institution'+form)
              .result.one.header
                .split4
                  h2 Unit
                .split4
                  h2
                    input(type='text', id='Unit'+ form, name='unit'+form)
              .result.one.header
                .split4
                  h2 Assessment
                .split4
                  h2
                    input(type='text', id='Assessment'+ form, name='assessment'+form)
              .result.one.header
                .split4
                  h2 Date
                .split4
                  h2
                    input(type='text', id='Date'+ form, name='date'+form)
            - form++;
                    
        h2
          -nextup = parseInt(formno)+1;
          a(href='/uploadhistory?formno=' + (nextup))
            button(id = 'add', value="Add Paper") Add Paper 
          if(formno > 1) 
            -onedown=parseInt(formno)-1;
            a(href='/uploadhistory?formno=' + (onedown))
              button(id = 'add', value="Add Paper") Remove Last Paper

          button(id = 'submit', type="submit", value="Submit") Submit
        |   
        |           
        
      |         
      p
        a(href="/upload") Upload Question
        |  → 
        b Question History
        |  → Submitted
  // Footer
  footer.footer
    p Example filler text for the footer of the page.
