doctype html
html
  head
    // Title of Page
    title Exam Question Database
    // Meta Tags
    meta(charset='UTF-8')
    meta(name='description', content='Find existing exam questions easily')
    meta(name='author', content='Sam Fairs, Chen Liu, Joshua Milambo, Lachlan Bunney, Michael Bleakley, Minrui Lu')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Physics, Exam, Question, Database, Latex')
    // Links/References
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,400i,700', rel='stylesheet')
  // Navbar
  body
    nav.navbar
      .navTitle
        a(href='/index') Exam Question Database
        form.navSearch(method='get', action='result', enctype='multipart/form-data')
          input#navSearch(type='text', placeholder="Light, Electricity, Gauss's Law", name='keywords')
          button(type='navSubmit')
            img(width='40px', height='40px', src='images/search_icon.png')
      ul.navMenu
          li
            a(href='/') Logout
          li
            a(href='/upload') Upload Question
          li
            a(href='/test') View Test
          li
            a(href='/testhistory') Update Result
          -if(ifmaster)
            li
              a(href='/adduser') Add User 
    // Body of Page
    .main
      p
        b Upload Question
        |  → To Upload History → Submit
      form(action='uploadfiles' method='post', enctype='multipart/form-data')
        h1 Upload A Question
        .result.one.header
          .split4.left
            h2 UPLOAD QUESTION .ZIP
          .split4.right
            h2
              input(type='file', name='uploadzip' value='Upload Compressed Question Data', onclick='')
        .result.one.header
          .split4.left
            h2 UPLOAD QUESTION PREVIEW
          .split4.right
            h2
              input(type='file', name='uploadpdf' value='Upload Compiled Question', onclick='')
        .result.one.header
          .split4.left
            h2 NOTES
          .split4.right
            h2
              input(type='text', name='notes', placeholder='Question Notes')
        .result.one.header
          .split4.left
            h2 BRIEF DESCRIPTION
          .split4.right
            h2
              input(type='text', name='description', placeholder='Brief Question Description')
        .result.one.header
          .split4.left
            h2 KEYWORDS
          .split4.right
            h2
              input(type='text', name='keywords', placeholder='Light, Electricity, Resistance')
        .result.one.header
          .split4.left
            h2 VIDEO SOLTUION
          .split4.right
            h2
              input(type='text', name='video' value='N/A')
        .result.one.header
          .split4.left
            h2 QUESTION TYPE
          .split4.right
            h2
              select(name='type')
                option(value='Exam') Exam
                option(value='Test') Test
                option(value='Assignent') Assignment
        h2
          input(type='submit', value='→ To Upload History')
      p
        b Upload Question
        |  → To Upload History → Submit
    // Footer
    footer.footer
      p Content on this website is licensed under a CC: Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) License.
